  <!-- Start Navbar section -->
<nav class="kiwi-navbar">
  <div class="row align-items-center no-gutters box-shadow-raised pt-1 px-3">
    <div class="col-1 text-center">
      <a href="https://www.instagram.com/arte_kiwi/" target="_blank" class="color-black"><i class="fab fa-instagram font-size-xxl"></i></a>
    </div>
    <div class="col-10 text-center font-weight-6 font-size-xxl font-size-lt-md-xxl">
      <%= image_tag "/img/logo.png", class: "kiwi-navbar-logo" %>
    </div>
    <div class="col-1 text-center">
      <a href="https://wa.link/btnclx" target="_blank" class="color-black"><i class="fab fa-whatsapp font-size-xxl"></i></a>
    </div>
  </div>
</nav>
<!-- End Navbar section -->

<!-- Category section -->
<section class="categories-filter kiwi-bg-light-red d-flex align-items-center justify-content-center font-size-md py-1">
  <span class="pr-5">Categorias:</span>
  <select id="selectCategory">
     <!-- <option value="default">Categorías</option> -->
     <option value="vinyl-markers">Marcadores de Vinilo</option>
     <option value="permanent-markers">Marcadores Permanentes</option>
     <option value="pelikan-markers">Marcadores Pelikan</option>
     <option value="washable-markers">Marcadores Lavables</option>
     <option value="lettering-markers">Marcadores Leterring</option>
     <option value="lettering">Lettering Timoteo</option>
  </select>
</section>
<!-- End Category section -->

<!-- Sort section -->
<section class="sort-section d-flex align-items-center justify-content-center font-size-md pt-3">
  <select id="sortPrice">
     <!-- <option value="default">Categorías</option> -->
     <option disabled>Ordenar productos</option>
     <option value="cheap">Menor a mayor precio</option>
     <option value="expensive">Mayor a menor precio</option>
  </select>
</section>
<!-- End Sort section -->

<!-- Cards section -->
<section class="">
  <div class="row no-gutters mx-3 py-3">
    <div class="col-12">
      <div id="cards-container" class="row no-gutters">
      </div>
    </div>
  </div>
</section>
<!-- End Cards section -->

<!-- Footer section -->
<footer class="w-100 d-flex flex-column text-center justify-content-center border-top-1">
  <!-- Texture -->
  <div class="w-10 position-relative z-index-default">
    <%= image_tag "/img/macha_verde.png", class: "position-absolute left-0" %>
  </div>
  <!-- Social -->
  <div class="w-100 d-flex justify-content-center mt-4 mb-2 z-index-footer">
    <a href="https://www.instagram.com/arte_kiwi/" target="_blank" class="color-black"><i class="fab fa-instagram font-size-xxl mx-2"></i></a>
    <a href="https://wa.link/btnclx" target="_blank" class="color-black"><i class="fab fa-whatsapp font-size-xxl mx-2"></i></a>
    <a href="https://www.facebook.com/artekiwioficial" target="_blank" class="color-black"><i class="fab fa-facebook font-size-xxl mx-2"></i></a>
  </div>
  <!-- Write us -->
  <div class="w-100 my-2 z-index-footer">
    Escríbenos: <a class="color-red font-weight-6" href="mailto:contacto@artekiwi.com">contacto@artekiwi.com</a>
  </div>
  <!-- Text -->
  <div class="w-100 my-2 mb-4 z-index-footer">
    &copy; Copyright 2020, Arte Kiwi – Hecho con ❤️
  </div>
</footer>
<!-- End Footer section -->