<div class="row no-gutters pt-1 mx-3 banner">
  <% @banners.each do |banner| %>
    <div class="col-12 col-md-6 col-lg-6 mt-1 banner">
      <a href="#<%= banner.dig(:id) %>">
        <div class="row m-2 m-md-3 no-gutters">
          <div class="col-12">
            <%= link_to banner.dig(:link), class: "" do %>
              <div class="d-flex justify-content-center">
                <%= image_tag banner.dig(:image), class: "banner-img" %>
              </div>
            <% end %>
          </div>
        </div>
      </a>
    </div>
  <% end %>
</div>
