<div class="row no-gutters kiwi-bg-light-primary">
  <div class="col-12">
    Navbar
  </div>
</div>

<!-- Banners section -->
<div class="row no-gutters">
  <% 3.times do |i| %>
    <div class="col-12 kiwi-bg-light-primary mx-3 my-3" style="height:150px;"> Product # <%= i %></div>
  <% end %>
</div>