$color: (
  ak-green: #DEECB1,
  ak-green-light: #E7F1C8,
  ak-green-dark: #5F741C,
  ak-red: #FDB4B6,
  ak-red-light: #F5E6DE,
  ak-red-dark: #C45862,
  ak-yellow: #FFF7BE,
  ak-sky-blue: #CEEFE8,
  ak-orange: #F1E2D8,
  ak-purple: #E6E3FA,
  ak-gray: #565F69,
  ak-gray-light: #F9FAFA,
  ak-white: #FFF,
  ak-black: #000,
  ak-whatsapp: #25D366
);

$body-background: map-get($color, white);
$body-font-color: map-get($color, ak-green-dark);
