<h1>Hola Estefa, estás creando un nuevo producto</h1>
<span>Perdón que se vea feito, pronto lo pondré más bonito</span>
<br>
<br>
<%= render 'form', product: @product %>

<%= link_to 'Back', admin_products_path %>
