<%= render partial: "common/separator" %>
<footer class="kiwi-footer w-100 d-flex flex-column text-center justify-content-center">
  <!-- Texture -->
  <div class="w-10 position-relative z-index-default">
    <%= image_tag "/img/macha_verde.png", class: "green-texture position-absolute left-0" %>
  </div>
  <!-- Social -->
  <div class="w-100 d-flex justify-content-center mt-4 mb-2 z-index-footer">
    <a href="https://www.instagram.com/arte_kiwi/" target="_blank" class="color-black"><i class="fab fa-instagram font-size-xxl mx-2"></i></a>
    <a href="https://wa.link/btnclx" target="_blank" class="color-black"><i class="fab fa-whatsapp font-size-xxl mx-2"></i></a>
    <a href="https://www.facebook.com/artekiwioficial" target="_blank" class="color-black"><i class="fab fa-facebook font-size-xxl mx-2"></i></a>
  </div>
  <!-- Write us -->
  <div class="w-100 my-2 z-index-footer">
    Escríbenos: <a class="color-red font-weight-6" href="mailto:contacto@artekiwi.com">contacto@artekiwi.com</a>
  </div>
  <!-- Text -->
  <div class="w-100 my-2 mb-4 z-index-footer">
    &copy; Copyright 2020, Arte Kiwi – Hecho con ❤️
  </div>
</footer>
