.ais-Hits {
  .ais-Hits-list {
    list-style-type: none;
    padding: 0;
  }
}

.card {
  .card-height {
    max-height: 180px;
  }

  .card-img {
    height: 100%;
    width: 100%;
    object-fit: contain
  }

  .card-btn {
    max-width: 150px;
  }
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
